$blue: #0000FF;
$yellow: #FFFF00;
$red: #FF0000;
$green: #008000;

body {
  height: 100%;
  background: url("../img/background.jpg") no-repeat center fixed;
  background-size: cover;
}

#content {
  height: 100%;
}

#btn-restart {
  float: right;
  margin-right: 5px;
}

.centered-container {
  width: 100%;
  height: 100%;
  position: relative;

  .container-content {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
  }
}

.margined-container {
  width: 80%;
  height: 100%;
  margin: auto;
  background: #e3e2df;

  header {
    width: 100%;
    border-bottom: #6a6b69 solid 4px;
    margin-bottom: 20px;
  }
}

.btn-container {
  @extend .text-centered;
  width: 100%;
  margin-top: 15px;
}

.text-centered {
  text-align: center;
}

.credits {
  @extend .text-centered;
  margin-top: 25px;
}

.title-stage2 {
  .title {
    vertical-align: bottom;
  }

  img {
    margin-left: 10px;
    height: 100px;
  }

  margin-bottom: 20px;
}

.title-stage3 {
  .title {
    vertical-align: bottom;
  }

  img {
    margin-left: 10px;
    height: 100px;
  }

  margin: auto;
}

#button-panel {
  button {
    float: right;
    margin-right: 5px;
  }

  button:first-child {
    margin-right: 0;
  }
}

.no-margin {
  margin: 0 !important;
}

.button {
  background: #00f200;
  background-image: -webkit-linear-gradient(top, #00f200, #025902);
  background-image: -moz-linear-gradient(top, #00f200, #025902);
  background-image: -ms-linear-gradient(top, #00f200, #025902);
  background-image: -o-linear-gradient(top, #00f200, #025902);
  background-image: linear-gradient(to bottom, #00f200, #025902);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #29fc30;
  background-image: -webkit-linear-gradient(top, #29fc30, #308a20);
  background-image: -moz-linear-gradient(top, #29fc30, #308a20);
  background-image: -ms-linear-gradient(top, #29fc30, #308a20);
  background-image: -o-linear-gradient(top, #29fc30, #308a20);
  background-image: linear-gradient(to bottom, #29fc30, #308a20);
  text-decoration: none;
}

.button[disabled], .button[disabled]:hover {
  background: #cfd0ce;
  background-image: -webkit-linear-gradient(top, #cfd0ce, #848583);
  background-image: -moz-linear-gradient(top, #cfd0ce, #848583);
  background-image: -ms-linear-gradient(top, #cfd0ce, #848583);
  background-image: -o-linear-gradient(top, #cfd0ce, #848583);
  background-image: linear-gradient(to bottom, #cfd0ce, #848583);
  color: black;
}

.title {
  font-size: 72px;
  background: -webkit-linear-gradient(left, $blue, $green);
  background: -moz-linear-gradient(left, $blue, $green);
  background: -ms-linear-gradient(left, $blue, $green);
  background: linear-gradient(left, $blue, $green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 0 0 0 rgba(255,255,255,0.66) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}